{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "plugins": [
     "react"
  ],

  "env": {
    "browser": true
  },

  "globals": [
    "fetch"
  ],

  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "generator-star-spacing": 0,
    "import/default": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-unresolved": 2,
    "jsx-a11y/label-has-for": 0,  # For our purposes let's wait for an option to support label nesting
                                  # see https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/51
    "linebreak-style": 0,
    "max-len": 1,
    "no-global-assign": 0,
    "no-unsafe-negation": 0,
    "no-unused-vars": [2, {"args": "none"}],
    "prefer-template": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/prefer-stateless-function": 1,
    "react/sort-comp": 1,
    "semi": [2, "always"]
  }
}
