{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "plugins": [
     "react"
  ],

  "env": {
    "browser": true
  },

  "globals": [
    "fetch"
  ],

  "rules": {
    "arrow-body-style": 1,
    "comma-dangle": 0,
    "no-global-assign": 0,
    "prefer-template": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/prefer-stateless-function": 1,
    "react/prop-types": 1,
    "react/sort-comp": 1,
  }
}
