.landing-page {
  max-height: 46vh;
  .content-block {
    padding: 30px 0;
    @include breakpoint (large) {
      padding: 50px 0;
    }
  }

  .easy-to-track {
    background-color: #EFEFEF;
  }

  .register label {
    font-size: 16px;

    &.terms {
      font-size: 14px;
    }
  }

  .volunteer-check {
    margin-bottom: 25px;
  }
}
