.top-bar {
  background-color: #fff;
  padding: 0;
  margin: 0 0 0.5em 0;
  height: 9vh;

  .button {
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 5px;
  }
  .logo-img {
    width: 200px;
  }
}
