body {
    color: #000000;
    background-color: #525659;
}
h3 {
  color: #4B8990;
}
/* container - place inside each section or around the entire page depending on your layout */
.container {
    width: 1200px;
    margin: 0 auto;
}
.top-bar {
  background-color: #fff;
}

.button {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 0px solid #800000;
  padding: 15px 30px;
  color: white;
  background-color: #403F3F;
  cursor: pointer;
}

/* for clearing any floats <br class="clearfloat"/> */
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.logo-img {
  width: 200px;
}
.blue-bkgd {
  background-color: #62cadb;
}
.blue-bkgd2 {
    background-color: #B4DFE5;
}
.blue-txt {
  color: #62cadb;
}
.dark-green-btn {
    background-color: #4B8990;
}
.intro-box {
  height: 500px;
}
.intro-box-content {
  padding: 90px;
}
.how-it-works, .get-started-today {
  background-color: #fff;
  text-align: center;
}
.hiw-container, .ets-container, .ett-container, .gst-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.hiw-col {
  width: 170px;
}
.ets-col p {
  width: 240px;
  text-align: left;
}
.easy-to-track {
  background-color: #EFEFEF;
  text-align: center;
}
.ett-container h3 {
  text-align: left;
  width: 80%;
}
footer {
  background-color: #898989;
  color: #fff;
  padding: 20px;
}
